* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

body.allow-scroll {
    overflow: visible; /* Cho phép cuộn */
}

section { 
    width: 100%;
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
}

#section1 {
    background-image: url('/public/background/background1.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#section3 {
    background-image: url('/public/background/background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

#section3 h2{
    font-size: 2.5rem;
    margin-bottom: 45px;
    margin-top: 250px;
    margin-left:150px;
    color: #fff;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
}

#section3 p{
    font-size: 2rem;
    line-height: 2;
    margin-left:150px;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

#section2 {
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 0 5%;
    gap: 170px;
    background-image: url('/public/background/back-text.jpg'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
}

#section2 {
    height: 75vh;
}

#section2 img {
    max-width: 40%; 
    height: auto;
    border-radius: 10px;
    margin-left: 150px; 
}

#section2 .text {
    flex: 1;
    max-width: 600px;
}

#section2 .text h1{
    font-size: 2rem;
    margin-bottom: 45px;
}

#section2 .text p{
    font-size: 1.5rem; 
    line-height: 2;
    max-width: 350px;
}

#section4 {
    height: 160vh;  
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
}

.dish-highlight {
    display: flex;
    align-items: center;
    gap: 6rem; 
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5%; 
}

.dish1 {
    background-image: url('/public/background/back-right-scaled.jpg');
}

.dish2 {
    background-image: url('/public/background/back-left-scaled.jpg');
}

.dish1 .dish-text {
    margin-left: 8rem; 
}

.dish2 .dish-image {
    margin-left: 8rem; 
}

.dish-highlight .dish-image {
    max-width: 35%;  
    min-width: 200px;
    border-radius: 10px;
}

.dish-highlight .dish-image img {
    width: 100%;  
    height: auto;  
    display: block; 
}

.dish-highlight .dish-text {
    max-width: 700px;
    min-width: 250px; 
    font-family: 'Caveat', cursive;
    line-height: 1.6;
    z-index: 2;  
}

.dish-highlight h3 {
    font-size: 3rem;  
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;  
    z-index: 2; 
}

.dish-highlight p {
    font-size: 1.5rem;  
    margin-bottom: 20px;
    z-index: 2;
}

.card {
    width: 100%; /* Đảm bảo .card vừa với container của nó */
    height: auto; /* Tự động điều chỉnh theo tỉ lệ của ảnh */
    border-radius: 15px;
    overflow: hidden;
    border: none; /* Loại bỏ viền nếu không cần thiết */
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    display: flex; /* Thêm flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    color: #fff;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 1.8rem; 
    font-weight: 500;
    margin-bottom: 10px; 
    color:#fff;
}

.card-sub-title {
    color:#fff;
}

.card-info {
    font-size: 1rem; 
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 400;
    color:#fff;
}

.card-btn {
    color: #1f3d47;
    background: #feec29;
    width: 100px; 
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
}

.card-btn a{
    text-decoration: none;
}

#section5 {
    background-image: url('/public/background/background3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

#section5 h2 {
    font-size: 2.5rem;
    margin-bottom: 45px;
    margin-top: 150px;
    margin-left:150px;
    color: #fff;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
}

#section5 p {
    font-size: 2rem;
    line-height: 2;
    margin-left:150px;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

#section6 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
    background-color: white;
    padding-bottom: 2rem;
    background-image: url('/public/background/footer-back.jpg');
}

#section6 h2 {
    font-size: 2.5rem;
    margin-bottom: 45px;
    margin-top: 150px;
    text-align: center;
}

#section6 p {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    margin-bottom: 1.5rem;
}

#section6 button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#section6 button:hover {
    background-color: #a52a2a;
}

section h1, section p {
    position: relative;
    color: black;
}

section h1 {
    font-size: 2.5rem;
}

section p {
    font-size: 1.2rem;
}

h1 {
    color: black;
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
  }
  
.container1 img {
    max-width: 100px; 
    height: auto; 
}

.content-wrapper {
    width: 100%;
    height: 100%;
    filter: none; 
    transition: filter 1s ease; 
}
  
.content-wrapper.blur {
    filter: blur(5px); 
}
  
.container {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 268px;
    z-index: 9999;
}
  
#canvas, #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000; 
  }
  
.hidden {
    opacity: 0;
    transition: opacity 1s ease;
}

.comment {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.delete-comment {
    font-size: 18px;
    color: #ff0000;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.comment:hover .delete-comment {
    display: block;
}