body {
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  background-image: url('/public/background/home.jpg'); 
  background-size: cover; 
  background-position: center; 
}

.container {
  display: block;
  width: 350px; 
  padding: 30px; 
  background-color: rgba(255, 255, 255, 0.85); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  text-align: center; 
  opacity: 0; 
  animation: fadeInBox 1.3s forwards; 
}

/* Hiệu ứng fade-in cho container */
@keyframes fadeInBox {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

h1 {
  margin-bottom: 20px; 
  color: #333;
  font-weight: 700; 
  line-height: 1.2; 
}

.welcome-title {
  text-align: center;
}

.welcome-title span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: normal;
}

.welcome-title span:nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
  color: #b22222;
  display: block; 
}

.welcome-title span:last-child {
  font-size: 0.8rem;
  font-weight: normal; 
  display: block; 
  margin-top: 10px;
}

h2 {
  color: #b22222;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px; 
}

input {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%; 
  margin-top: 30px;
  padding: 10px;
  background-color: #b22222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  background-color: #a52a2a; 
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
  color: #666; 
  font-size: 1em;
}
