<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/public/css/howtocook.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        <nav>
            <ul>
                <li><a href="/views/pages/page1.html">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a><button class="logout" id="login-logout-btn">Logout</button></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="contact-content">
            <h2>Get in Touch</h2>
            <p>If you have any questions, suggestions, or just want to say hello, feel free to reach out to us. We'd love to hear from you!</p>
            <h2>Contact Information</h2>
            <p>Email: howtocook@gmail.com</p>
            <p>Phone: 123 456 7890</p>
            <p>Address: University of information technology</p>
        </section>
    </main>
</body>
</html>